*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: bisque;
    height: 100vh;
    width: 100%;
}
.title{
    margin: 0 auto;
    margin-top: 200px;
}

.title h1,h2{
    text-align: center;
}

.container{
    width: 300px;
    height: 20vh;
    margin: 20px auto;
    border: 8px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container h2{
    font-size: 30px;
    color: black;
    font-weight: 900;
}